@font-face {
  font-family: 'aeliron-bold';
  src: url('../font/Aileron-Bold.otf') format('truetype');
}
@font-face {
  font-family: 'aeliron-semibold';
  src: url('../font/Aileron-SemiBold.otf') format('truetype');
}
@font-face {
  font-family: 'aeliron-regular';
  src: url('../font/Aileron-Regular.otf') format('truetype');
}
@font-face {
  font-family: 'aeliron-italic';
  src: url('../font/Aileron-Italic.otf') format('truetype');
}
@font-face {
  font-family: 'aeliron-light';
  src: url('../font/Aileron-Light.otf') format('truetype');
}
body {
  font-size: 14px;
  font-family: 'aeliron-light', Arial;
  letter-spacing: 0.5px;
  margin: 0;
  padding: 0;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
p,h1,h2,h3,h4,h5,h6,address,ul,ol {
  margin: 0;
  padding: 0;
}
a:hover, a:visited, a:focus {
  text-decoration: none;
  outline: 0;
  outline: none;
}
header,footer,section,figure,aside,
article, main, address {
  display: block;
}
header {
  padding: 15px 0;
}
.white{
  color: #fff;
}
.white-bg {
  background: #fff;
}
.skyblue-bg {
  background: #23a6c5;
}
.blue-bg{
  background: #044d90;
}
.bold {
  font-family: 'aeliron-bold';
}
.semibold {
  font-family: 'aeliron-semibold';
}
.italic {
  font-family: 'aeliron-italic';
}
.light {
  font-family: 'aeliron-light';
}
.right {
  text-align: right;
}
.left{
  text-align: left;
}
.center{
  text-align: center;
}
.noradius .form-control {
  border-radius: 0;
  box-shadow: none;
}
.overlay{
	position: relative;
}
.overlay:after{
	background: rgba(0,0,0,0.4);
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.inline > li{
	display: inline-block;
}
.login-port {
  padding: 25px 0 80px;
}
.login-port h3  {
  margin: 0 0 40px;
}
.login-port form {
  padding: 40px 25px 25px;
  border: 1px solid #8bd0e0;
}
.login-port form .form-control {
  color: #a8a8a8;
  height: 40px;
  font-size: 15px;
  padding-left: 40px; 
}
.login-port form .form-control:focus {
  border-color: #23a6c5;
}
.login-port form > div + div {
  margin: 25px 0 0;
}
.login-port form .hover-bottom {
  width: 100%;
  text-align: center;
  display: block;
  padding: 10px 0;
}
.login-port form #email{
  background: #FFF url('../images/icons/user-icon.png') no-repeat 9px 50% / 16px;
}
.login-port form #password{
  background: #FFF url('../images/icons/password-icon.png') no-repeat 9px 50% / 16px;
}
.login-port .right-part p{
  font-size: 18px;
  line-height: 28px;
}
.hover-bottom {
  background: #044d90;
  display: inline-block;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  border: none;
  color: #fff;
  font-family: 'aeliron-bold';
  transition: all 0.6s ease;
  -webkit-transition: all 0.64s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
}
.hover-bottom:before {
  transition: all 0.6s ease;
  -webkit-transition: all 0.64s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #23a6c5;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
}
.hover-bottom:hover:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
#login-min{
  position: relative;
  min-height: 220px;
}
#login-min figure{
  position: absolute;
  top: -100%;
  left: 20%;
}
footer{
  background: #000;
  padding: 10px 0;
  color: #979797;
  letter-spacing: 1.5px;
}
footer ul > li:not(:last-child):after{
  content: "|";
  color: #979797;
  margin: 0 6px;
  font-family: 'aeliron-bold';
}
footer ul a{
  color: #979797;
}
.menu-click > ul > li{
  text-align: left;
  vertical-align: middle;
  position: relative;
}
.menu-click > ul > li .megamenu{
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 200px;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background: #044D90;
  z-index: 1;
  padding: 10px;
  color: #FFF;
  font-size: 12px;
  border-radius: 5px;
  visibility: hidden;
  transition: all 0.5s ease;
}
.menu-click > ul > li .megamenu ul > li:not(:last-child){
  border-bottom: 1px solid #FFF;
  margin: 0 0 5px;
  padding: 0 0 5px;
}
.menu-click > ul > li:hover .megamenu{
  transition: all 0.5s ease;
  animation: sample linear 0.5;
  opacity: 1;
  visibility: visible;
}
.menu-click > ul > li:first-child a{
  color: #FFF;
  position: relative;
  display: inline-block;
}
.menu-click > ul > li:first-child a span{
  position: absolute;
  background: #23a6c5;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 100%;
  top: -10px;
  line-height: 2;
  right: -18px;
  font-family: 'aeliron-bold';
}
.menu-click > ul > li + li{
  margin: 0 0 0 65px;
}
.menu-click .dropdown{
  cursor: pointer;
  background: #FFF url('../images/icons/triangle.png') no-repeat 100% 50%;
  padding-right: 20px;
}
.menu-click .dropdown > div{
  display: flex;
  align-items: center;
  display: -moz-flex;
}
.menu-click .dropdown > div > div:first-child{
  margin: 0 10px 0 0;
}
.menu-click .dropdown-menu a{
  color: #FFF;
  padding: 10px;
  display: inline-block;
  width: 100%;
}
.menu-click .dropdown-menu:before{
  content: "";
  border-bottom: 15px solid #23A6C5;;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  position: absolute;
  top: -7px;
  left: 50%;
  transform: translateY(-50%);
}
.menu-click .dropdown-menu{
  border: 0;
  font-family: "aeliron-bold";
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  margin: 5px 0 0;
  min-width: 200px;
  background: #23A6C5;
}
.common-bgcolor{
  background: #ebebeb;
  padding: 40px 0;
}
.checkbox-custom, .radio-custom {
  opacity: 0;
  position: absolute;   
}
.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  cursor: pointer;
}
.checkbox-custom-label, .radio-custom-label {
  position: relative;
}
.checkbox-custom + .checkbox-custom-label:before{
  content: '';
  background: #fff;
  border: 1px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  padding: 2px;
  margin-right: 10px;
  border-radius: 50%;
  text-align: center;
}
.checkbox-custom:checked + .checkbox-custom-label:before {
  content: "\2713";
  background: #66c816;
  color: #fff;
}
.test-list > li{
  padding: 10px 20px 10px 10px;
  background: #FFF;
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.1);
}
.test-list, .area-max-width{
  max-width: 870px;
  margin: 0 auto;
}
.test-list > li + li{
  margin: 15px 0 0;
}
.test-list > li .question{
  font-family: "aeliron-semibold";
  color: #464646;
  margin: 3px 0 0;
  font-size: 18px;
}
.test-list > li .submit{
  text-align: right;
  color: #b6b6b6;
  font-family: "aeliron-semibold";
}
.test-list > li .submit a, #step-second-main .confirm-continue a{
  color: #FFF;
  display: inline-block;
  background: #044d90;
  padding: 7px 15px;
}
.test-list > li .submit a.hover-bottom:before,
#step-second-main .confirm-continue a.hover-bottom:before{
  background: #66c816;
}
#step-second-main .pdf-file{
  background: #FFF;
  padding: 10px;
  margin: 40px 0 0;
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.1);
}
#step-second-main .pdf-file object{
  width: 100%;
  background: #FFF;
  min-height: 640px;
}
.custom-radio.square .checkbox-custom + .checkbox-custom-label:before{
  border-radius: 6px;
}
#step-second-main .confirm-continue{
  margin: 40px 0 0;
}
#main-dashboard{
  display: flex;
  display: -moz-flex;
  width: 100%;
  background: #ebebeb;
}
#main-dashboard > div:first-child{
  width: 20%;
  background: #252525;
}
#main-dashboard > div:last-child{
  width: 80%;
  padding: 20px 45px;
}
.dash-menu li{
  padding: 15px 30px;
  font-family: "aeliron-semibold";
  color: #7c7d7d;
  box-sizing: border-box;
  font-size: 18px;
  border-bottom: 1px solid #7c7d7d;
  cursor: pointer;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.dash-menu li:hover, .dash-menu li.active{
  background: #ebebeb;
  color: #000;
}
.dash-menu li img{
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 0 15px 0 0;
}
#dashboard .float:after, #dashboard .float:before{
  display: table;
  content: "";
}
#dashboard .float:after{
  clear: both;
}
#dashboard .float{
  margin: 0 -10px;
}
#dashboard .float > div{
  float: left;
  padding: 10px;
}
#dashboard .float > div.forty{
  width: 40%;
}
#dashboard .float > div.sixty{
  width: 60%;
}
#dashboard .total-test{
  background: #044d90 url("../images/icons/quiz.png")no-repeat 80% 50% / 80px;
  padding: 25px 30px;
  color: #FFF;
  min-height: 170px;
}
.right-content > div.active-now:not(:first-child){
  display: none;
}
.aws-search-form{

    border: 1px solid #e1e1e1;
    border-radius: 6px;
    color: #535353;
    display: block;
    font-size: 12px;
    line-height: 30px;
 
    position: relative;
    width: 100%;
    z-index: 2;
  }
.aws-search-field {
  background: #fff url("../images/search-img-icon-sm.png") no-repeat scroll right center;
  border: 1px solid #e1e1e1;
  border-radius: 6px;
  color: #535353;
  display: block;
  font-size: 15px;
  font-weight: 700;
  line-height: 40px;
  padding: 0 10px 3px 15px;
  position: relative;
  width: 100%;
  z-index: 2;
}
.float-srs {
  display: flex;
}
.forty-srs{
  width: 40%;
}
.sixty-srs{
  width: 60%;
}
.forty-srs > h2 {
  color: #000000;
  font-weight: 800;
}
.forty-srs .fa-arrow-left {
  background: #000 none repeat scroll 0 0;
  border-radius: 5px;
  color: #fff;
  font-size: 26px;
  margin-top: 20px;
  padding: 4px 16px;
  cursor: pointer;
}