@font-face {
  font-family: 'aeliron-bold';
  src: url('../font/Aileron-Bold.otf') format('truetype');
}
@font-face {
  font-family: 'aeliron-semibold';
  src: url('../font/Aileron-SemiBold.otf') format('truetype');
}
@font-face {
  font-family: 'aeliron-regular';
  src: url('../font/Aileron-Regular.otf') format('truetype');
}
@font-face {
  font-family: 'aeliron-italic';
  src: url('../font/Aileron-Italic.otf') format('truetype');
}
@font-face {
  font-family: 'aeliron-light';
  src: url('../font/Aileron-Light.otf') format('truetype');
}

/*Body changed*/
body {
  font-size: 14px;
  font-family: 'aeliron-light', Arial;
  letter-spacing: 0.5px;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
p,h1,h2,h3,h4,h5,h6,address,ul,ol {
  margin: 0;
  padding: 0;
}
a:hover, a:visited, a:focus {
  text-decoration: none;
  outline: 0;
  outline: none;
}
header,footer,section,figure,aside,
article, main, address {
  display: block;
}
.white{
  color: #fff;
}
.white-bg {
  background: #fff;
}
.skyblue-bg {
  background: #23a6c5;
}
.blue-bg{
  background: #044d90;
}
.bold {
  font-family: 'aeliron-bold';
}
.semibold {
  font-family: 'aeliron-semibold';
}
.italic {
  font-family: 'aeliron-italic';
}
.light {
  font-family: 'aeliron-light';
}
.right {
  text-align: right;
}
.left{
  text-align: left;
}
.center{
  text-align: center;
}
.noradius .form-control {
  border-radius: 0;
  box-shadow: none;
}
.overlay{
  position: relative;
}
.overlay:after{
  background: rgba(0,0,0,0.4);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.inline > li{
  display: inline-block;
}
.login-port {
  padding: 25px 0 80px;
}
.login-port h3  {
  margin: 0 0 40px;
}
.login-port form {
  padding: 40px 25px 25px;
  border: 1px solid #8bd0e0;
}
.login-port form .form-control {
  color: #a8a8a8;
  height: 40px;
  font-size: 15px;
  padding-left: 40px; 
}
.login-port form .form-control:focus {
  border-color: #23a6c5;
}
.login-port form > div + div {
  margin: 25px 0 0;
}
.login-port form .hover-bottom {
  width: 100%;
  text-align: center;
  display: block;
  padding: 10px 0;
}
.login-port form #username{
  background: #FFF url('../images/icons/user-icon.png') no-repeat 9px 50% / 16px;
}
.login-port form #password{
  background: #FFF url('../images/icons/password-icon.png') no-repeat 9px 50% / 16px;
}
.login-port .right-part p{
  font-size: 18px;
  line-height: 28px;
}
.hover-bottom {
  background: #044d90;
  display: inline-block;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  border: none;
  color: #fff;
  font-family: 'aeliron-bold';
  transition: all 0.6s ease;
  -webkit-transition: all 0.64s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
}
.hover-bottom:before {
  transition: all 0.6s ease;
  -webkit-transition: all 0.64s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #23a6c5;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
}
.hover-bottom:hover:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
#login-min{
  position: relative;
  min-height: 220px;
}
#login-min figure{
  position: absolute;
  top: -100%;
  left: 20%;
}
footer{
  background: #000;
  padding: 10px 0;
  color: #979797;
  letter-spacing: 1.5px;
}
footer ul > li:not(:last-child):after{
  content: "|";
  color: #979797;
  margin: 0 6px;
  font-family: 'aeliron-bold';
}
footer ul a{
  color: #979797;
}
.menu-click{
  padding: 3% 0;
}
.menu-click > ul > li{
  text-align: left;
  vertical-align: middle;
  position: relative;
}
.menu-click > ul > li .megamenu{
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 200px;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background: #044D90;
  z-index: 1;
  padding: 10px;
  color: #FFF;
  font-size: 12px;
  border-radius: 5px;
  visibility: hidden;
  transition: all 0.5s ease;
}
.menu-click > ul > li .megamenu ul > li:not(:last-child){
  border-bottom: 1px solid #FFF;
  margin: 0 0 5px;
  padding: 0 0 5px;
}
.menu-click > ul > li:hover .megamenu{
  transition: all 0.5s ease;
  animation: sample linear 0.5;
  opacity: 1;
  visibility: visible;
}
.menu-click > ul > li:first-child a{
  color: #FFF;
  position: relative;
  display: inline-block;
}
.menu-click > ul > li:first-child a span{
  position: absolute;
  background: #23a6c5;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 100%;
  top: -10px;
  line-height: 2;
  right: -18px;
  font-family: 'aeliron-bold';
}
.menu-click > ul > li + li{
  margin: 0 0 0 65px;
}
.menu-click .dropdown{
  cursor: pointer;
  background: #FFF url('../images/icons/triangle.png') no-repeat 100% 50%;
  padding-right: 20px;
}
.menu-click .dropdown > div{
  display: flex;
  align-items: center;
  display: -moz-flex;
}
.menu-click .dropdown > div > div:first-child{
  margin: 0 10px 0 0;
}
.menu-click .dropdown-menu a{
  color: #FFF;
  padding: 10px;
  display: inline-block;
  width: 100%;
}
.menu-click .dropdown-menu:before{
  content: "";
  border-bottom: 15px solid #23A6C5;;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  position: absolute;
  top: -7px;
  left: 50%;
  transform: translateY(-50%);
}
.menu-click .dropdown-menu{
  border: 0;
  font-family: "aeliron-bold";
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  margin: 5px 0 0;
  min-width: 200px;
  background: #23A6C5;
}
.common-bgcolor{
  background: #ebebeb;
  padding: 40px 0;
}
.checkbox-custom, .radio-custom {
  opacity: 0;
  position: absolute;   
}
.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  cursor: pointer;
}
.checkbox-custom-label, .radio-custom-label {
  position: relative;
}
.checkbox-custom + .checkbox-custom-label:before{
  content: '';
  background: #fff;
  border: 1px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  padding: 2px;
  margin-right: 10px;
  border-radius: 50%;
  text-align: center;
}
.checkbox-custom:checked + .checkbox-custom-label:before {
  content: "\2713";
  background: #66c816;
  color: #fff;
}
.test-list > li{
  padding: 10px 20px 10px 10px;
  background: #FFF;
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.1);
}
.test-list, .area-max-width{
  max-width: 870px;
  margin: 0 auto;
}
.test-list > li + li{
  margin: 15px 0 0;
}
.test-list > li .question{
  font-family: "aeliron-semibold";
  color: #464646;
  margin: 3px 0 0;
  font-size: 18px;
}
.test-list > li .submit{
  text-align: right;
  color: #b6b6b6;
  font-family: "aeliron-semibold";
}
.test-list > li .submit a, #step-second-main .confirm-continue a{
  color: #FFF;
  display: inline-block;
  background: #044d90;
  padding: 7px 15px;
}
.test-list > li .submit a.hover-bottom:before,
#step-second-main .confirm-continue a.hover-bottom:before{
  background: #66c816;
}
#step-second-main .pdf-file{
  background: #FFF;
  padding: 10px;
  margin: 40px 0 0;
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.1);
}
#step-second-main .pdf-file object{
  width: 100%;
  background: #FFF;
  min-height: 640px;
}
.custom-radio.square .checkbox-custom + .checkbox-custom-label:before{
  border-radius: 6px;
}
#step-second-main .confirm-continue{
  margin: 40px 0 0;
}
#main-dashboard{
  display: flex;
  display: -moz-flex;
  width: 100%;
  background: #ebebeb;
}
#main-dashboard > div:first-child{
  width: 13.5%;
  background: #252525;
}
#main-dashboard > div:last-child{
  width: 80%;
  padding: 20px 45px;
}
.dash-menu li{
  padding: 15px 30px;
  font-family: "aeliron-semibold";
  color: #7c7d7d;
  box-sizing: border-box;
  font-size: 15px;
  border-bottom: 1px solid #7c7d7d;
  cursor: pointer;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.dash-menu li:hover, .dash-menu li.active{
  /*background: #ebebeb;*/
  color: #fff;
}
.dash-menu li img {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 10px 0 0;
}
#dashboard .float:after, #dashboard .float:before{
  display: table;
  content: "";
}
#dashboard .float:after{
  clear: both;
}
#dashboard .float{
  margin: 0 -10px;
}
#dashboard .float > div{
  float: left;
  margin: 10px 10px 10px 0;
}
#dashboard .float > div.forty{
  width: 38%;
}
#dashboard .float > div.sixty{
  width: 60%;
}
#dashboard .total-test{
  background: #044d90 url("../images/icons/quiz.png")no-repeat 80% 50% / 80px;
  padding: 25px 30px;
  color: #FFF;
  min-height: 200px;
}
.right-content > div.active-now:not(:first-child){
  display: none;
}
.aws-search-form{

    border: 1px solid #e1e1e1;
    border-radius: 6px;
    color: #535353;
    display: block;
    font-size: 12px;
    line-height: 30px;
 
    position: relative;
    width: 100%;
    z-index: 2;
  }
.aws-search-field {
  background: #fff url("../images/search-img-icon-sm.png") no-repeat scroll 97% 50%;
  border: 1px solid #e1e1e1;
  border-radius: 6px;
  color: #535353;
  display: block;
  font-size: 15px;
  font-weight: 700;
  line-height: 40px;
  padding: 0 10px 3px 15px;
  position: relative;
  width: 100%;
  z-index: 2;
}
.float-srs {
  display: flex;
}
.forty-srs{
  width: 40%;
}
.sixty-srs{
  width: 60%;
}
.forty-srs > h2 {
  color: #000000;
  font-weight: 800;
}
.forty-srs .fa-arrow-left {
  background: #000 none repeat scroll 0 0;
  border-radius: 5px;
  color: #fff;
  font-size: 26px;
  margin-top: 20px;
  padding: 4px 16px;
  cursor: pointer;
}
.pqr-intro {
  background: #fff;
  padding: 10px;
}
.pqr-intro h1 {
  font-size: 30px;
  font-weight: 800;
}
.pqr-intro h4 {
  font-size: 18px;
  font-weight: 900;
}
p.para, p.quest {
  color: #b6b6b6;
  font-size: 15px;
  padding: 10px 0;
}
.span-class > p > span:first-child{
  color:#000;
  font-weight: 900;
}
.span-class > p > span:nth-child(2){
  color:#b6b6b6;
  font-weight: 900;
}
.training-score {
  background: #1f4c76 none repeat scroll 0 0;
  font-size: 20px;
  padding: 10px 0;
  text-align: center;
  color: #11A7CE;
  font-weight: 900;
}
.finished-pgm {
  background: #0AA8CB;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  font-size: 15px;
}
.span-class > p {
  padding: 2px 0;
}
.mar-top{
  margin-top:25px;
}
.intro-full{
  text-align: justify;
  font-weight: 800;
}
.dumb img {
  margin: 0 auto;
  width: 140px;
}
.dumb{
  text-align: center;
   padding: 73px 0;
}
.pqr-intro.dummy-data{
  background: #F7F7F7;
  color: #C8C8C8;font-weight: 900;
}
.pqr-intro.dummy-data > h4 {
  margin-top: 10px;
}
.latest-score > h2 {
  color: #00488F;
  font-weight: 900;
}
.latest-score {
  background: #fff;
  padding:10px;
}
.category_table tr:first-child {
  background: #EBEBEB none repeat scroll 0 0;
}
.category_table tr:first-child td{
  color: #044D91;
  font-weight: 800;
}
.category_table tr:not(:first-child) td{
  color:#A1A1A1;
  font-size: 12px;
  font-weight: 800;
}

.category_table tr:not(:first-child) td > a,.category_table tr:not(:first-child) td > a:hover{
  text-decoration: underline;
}
.category_table> tbody > tr > td, .category_table > tbody > tr > th,
.category_table > tfoot > tr > td,.category_table> tfoot > tr > th,
.category_table > thead > tr > td, .category_table > thead > tr > th{
border: none!important;
  }
.total-test > a {
  color: #fff;
  display: block;
  margin-top: 50px;
  width: 144px;
  font-size: 20px;
}
.category_table.table.table-bordered.mar-top{
  margin-top: 10px;
  margin-bottom: 0!important;
}
/*  .megamenu {
 background: #044d90 none repeat scroll 0 0;
 border-radius: 5px;
 color: #fff;
 font-size: 12px;
 left: 0;
 max-height: 200px;
 min-width: 200px;
 overflow-y: auto;
 padding: 10px;
 position: absolute;
 top: 100%;
 transition: all 0.5s ease 0s;
 visibility: hidden;
 width: 100%;
 z-index: 1;
} */
#table-scroll {
  height:150px;
  overflow:auto;  
 
}
.float.flo{
  display: flex;
}
.float.flo .forty{
   background: #fff;
}
.chart-skills {
  margin-top: 50px!important;
}
/* RESET STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.chart-skills {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}
.chart-skills *,
.chart-skills::before {
  box-sizing: border-box;
}
/* CHART-SKILLS STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.chart-skills {
  position: relative;
  width: 350px;
  height: 175px;
  overflow: hidden;
}

.chart-skills::before,
.chart-skills::after {
  position: absolute;
}

.chart-skills::before {
  content: '';
  width: inherit;
  height: inherit;
  border: 45px solid rgba(211, 211, 211, .3);
  border-bottom: none;
  border-top-left-radius: 175px;
  border-top-right-radius: 175px;
}

.chart-skills::after {
  content: 'Top Skills';
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  font-size: 1.1rem;
  font-weight: bold;
  color: cadetblue;
}

.chart-skills li {
  position: absolute;
  top: 100%;
  left: 0;
  width: inherit;
  height: inherit;
  border: 45px solid;
  border-top: none;
  border-bottom-left-radius: 175px;
  border-bottom-right-radius: 175px;
  transform-origin: 50% 0;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  animation-fill-mode: forwards;
  animation-duration: .4s;
  animation-timing-function: linear;
}

.chart-skills li:nth-child(1) {
  z-index: 4;
  border-color: #0188CC;
  animation-name: rotate-one;
}



.chart-skills span {
  position: absolute;
  font-size: .85rem;
  backface-visibility: hidden;
  animation: fade-in 0.0004s linear forwards;
}

.chart-skills li:nth-child(1) span {
  top: 5px;
  left: 10px;
  transform: rotate(140.4deg);
}




/* ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@keyframes rotate-one {
  100% {
    transform: rotate(140deg);
    /**
     * 12% => 21.6deg
     */
  }
}
@keyframes fade-in {
  0%,
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@import "lesshat";
@import url(https://fonts.googleapis.com/css?family=Roboto:400+700);
#chart {
  width: 650px;
  height: 300px;
  margin: 30px auto 0;
  display: block;
  #numbers {
    width: 50px; 
    height: 100%;
    margin: 0;
    padding: 0;
    display: inline-block;
    float: left;
    
    li {
      text-align: right;
      padding-right: 1em;
      list-style: none;
      height: 29px;
      border-bottom: 1px solid #444;
      position: relative;
      bottom: 30px;
      
      &:last-child {
        height: 30px;
      }
      
      span {
        color: #eee;
        position: absolute;
        bottom: 0;
        right: 10px;
      }
    }
  }
  
  #bars {
    display: inline-block;
    background: rgba(0,0,0,0.2);
    width: 600px;
    height: 300px;
    padding: 0;
    margin: 0;
    box-shadow: 0 0 0 1px #444;

    li {
      display: table-cell;
      width: 100px;
      height: 300px;
      margin: 0;
      text-align: center;
      position: relative;
      
      .bar {
        display: block;
        width: 70px;
        margin-left: 15px;
        background: #49E;
        position: absolute;
        bottom: 0;
        
        &:hover {
          background: #5AE;
          cursor: pointer;
          
          &:before {
            color: white;
            content: attr(data-percentage) '%';
            position:relative;
            bottom: 20px;
          }
        }
      }

      span {
        color: #eee;
        width: 100%;
        position: absolute;
        bottom: -2em;
        left: 0;
        text-align: center;
      }
    }
  }
}
span.head-score{
  font-size: 28px;
  font-weight: 800;
  color: #01538A;
  padding: 0 20px;
}
span.current-all {
  color: #a1a1a1;
  font-size: 15px;
}
p.score-qizz{
text-align:center;
color:#a1a1a1;
}
.highcharts-title,.highcharts-subtitle{
  display: none;
}
.sm-cls small{
  color: #fff!important;
}
.pass-you{
  background: #fff;
  padding: 30px 10px;
}
.pass-yout-fail{
  background: #fff;
}
.intro-1 p{
    color: #000;
    font-size: 16px;
    font-weight: 800;
        text-align: center;
  }
  .date-infor p span:nth-child(odd){
    color: #000;
    font-weight: 900;
        font-size: 12px;
  }
    .date-infor p span:nth-child(even){
      color: #9F9F9F;
          font-size: 12px;

    }
.div-div a:first-child{
    background:#3AB54B;
    color: #fff;
    padding: 6px;
    width: 100px;
    display: block;
    border-radius: 5px;
    text-align: center;
    font-size: 17px;
    border:1px solid #000;
    margin: 20px auto;
  }
  .div-div a:nth-child(2){
    background:#D83241;
    color: #fff;
    padding: 6px;
    width: 100px;
    display: block;
    border-radius: 5px;
    text-align: center;
    font-size: 17px;
    border:1px solid #000;
    margin: 20px auto;
  }
  .result-scan ul li{
    margin:15px 0;
  }
  .result-me{
  color: #084990;
    font-weight: 900;
    font-size: 22px;
  }
  .mar-35{
      margin-top: 35px;
  }
.uservav>li.active>a, .uservav>li.active>a:focus, .uservav>li.active>a:hover{
border-bottom-color:#18548A;
border-bottom-width:3px;
border-left-color: #fff;
border-right-color: #fff;
margin-top: 4px;
border-top-color: #fff;
margin-top: 0px;
}
.uservav{
border-bottom: none;
}
.nav.nav-tabs.uservav{
   background: #fff;
}
.feedback-right p
{
font-size: 18px;
    font-weight: 800;
    color: #0A53A2;
    }
.drop-list select{
    width: 90%;
    height: 40px;
    border: 0;
    border-bottom: 1px solid #ccc;
    appearance:none;
    color: #8E8E8E;
  }
  #home{
    background: #fff;
    margin-top: 50px;
  }

.onoff {
  margin-left: -27px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: relative;
  cursor: pointer;
  width: 100px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.onoff label {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  font-weight: bold;
  color: #FFF;
  -webkit-transition: background 0.3s, text-indent 0.3s;
  -moz-transition: background 0.3s, text-indent 0.3s;
  -o-transition: background 0.3s, text-indent 0.3s;
  transition: background 0.3s, text-indent 0.3s;
  text-indent: 27px;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4) inset;
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4) inset;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4) inset;
}
.onoff label:after {
  content: 'NO';
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  font-size: 12px;
  color: #591717;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.35);
  z-index: 1;
}
.onoff label:before {
  content: '';
     width: 22px;
    height: 28px;
  border-radius: 3px;
  background: #FFF;
  position: absolute;
  z-index: 2;
  top: 1px;
  left: 0px;
  display: block;
  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  -o-transition: left 0.3s;
  transition: left 0.3s;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}
.onoff input:checked + label {
  background: #eee;
  text-indent: 8px;
}
.onoff input:checked + label:after {
  content: 'YES';
  color: #091707;
}
.onoff input:checked + label:before {
  left: 35px;
}
a.sub-button{
    width: 180px;
    color: #fff;
    background: #07559F;
    padding: 12px;
    margin-top: 50px;
    display: block;
    text-align: center;
    font-size: 20px;
  }
  .feedback-left img{
    height: 550px;
  }
  .form-div{
    margin: 25px 0;
  }
.yes-no-content{
color:#8E8E8E;
}
.form-div-sec{
padding: 20px 20px 0 0;
}

/*Training 02 css*/
.right-content .date{
   margin-top: 42%;
}
    .right-content .date p{
      font-size: 12px;
      font-weight: 600;
    }
    .right-content .date span{
      color: #939393;
    }
.right-content .time{
  margin-top: 30%;
}
    .right-content .time p{
      color: #5e5e5e;
      font-size: 12px;
      word-spacing: 5px;
      letter-spacing: 1px;
    }
    .right-content .time #time{
      color: black;
      letter-spacing: 1px;
      font-size: 16px;
    }
.right-content .content{
  background-color: #ffffff;
  padding: 3% 5%;
  margin-top: 4%;
  height: 450px;
} 
  .right-content .content .qtns{
    font-size: 16px;
    color: black;
    line-height: 25px;
    font-weight: 600;
  }
  .right-content .content .options{
        margin-top: 4%;
  }
    .right-content .content .options form{
      font-size: 15px;
      line-height: 50px;
      color: black;
    }

    .right-content .content .options form [type="radio"]:checked,
    .right-content .content .options form [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }
    .right-content .content .options form [type="radio"]:checked + label,
    .right-content .content .options form [type="radio"]:not(:checked) + label
    {
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        line-height: 20px;
        display: inline-block;
        color: #666;
    }
    .right-content .content .options form [type="radio"]:checked + label:before,
    .right-content .content .options form [type="radio"]:not(:checked) + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 23px;
        height: 23px;
        border: 1px solid #7b7a7a;
        border-radius: 100%;
        background: #fff;
    }
    .right-content .content .options form [type="radio"]:checked + label:after, [type="radio"]:not(:checked) + label:after {
      content: '';
      width: 21px;
      height: 21px;
      background: #8dc63f;
      position: absolute;
      top: 1px;
      left: 1px;
      border-radius: 100%;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }
    .right-content .content .options form [type="radio"]:not(:checked) + label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    .right-content .content .options form [type="radio"]:checked + label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    .right-content .content .options form textarea{
        background-color: #f7f7f7;
        width: 100%;
    }

.right-content .nextBtn{
    position: absolute;
    top: 456px;
    background: #044d90;
    border: none;
    padding: 12px 25px;
    color: white;
    border-radius: 0px;
}
.right-content .backBtn{
    position: absolute;
    top: 255px;
    background: #555555;
    border: none;
    left: 30px;
    padding: 12px 25px;
    color: white;
    border-radius: 0px;
}