@font-face {
  font-family: 'aeliron-bold';
  src: url('../font/Aileron-Bold.otf') format('truetype');
}
@font-face {
  font-family: 'aeliron-semibold';
  src: url('../font/Aileron-SemiBold.otf') format('truetype');
}
@font-face {
  font-family: 'aeliron-regular';
  src: url('../font/Aileron-Regular.otf') format('truetype');
}
@font-face {
  font-family: 'aeliron-italic';
  src: url('../font/Aileron-Italic.otf') format('truetype');
}
@font-face {
  font-family: 'aeliron-light';
  src: url('../font/Aileron-Light.otf') format('truetype');
}

/*Body changed*/
body {
  font-size: 14px;
  font-family: 'aeliron-light', Arial;
  letter-spacing: 0.5px;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
p,h1,h2,h3,h4,h5,h6,address,ul,ol {
  margin: 0;
  padding: 0;
}
a:hover, a:visited, a:focus {
  text-decoration: none;
  outline: 0;
  outline: none;
}
header,footer,section,figure,aside,
article, main, address {
  display: block;
}
.white{
  color: #fff;
}
.white-bg {
  background: #fff;
}
.skyblue-bg {
  background: #23a6c5;
}
.blue-bg{
  background: #044d90;
}
.bold {
  font-family: 'aeliron-bold';
}
.semibold {
  font-family: 'aeliron-semibold';
}
.italic {
  font-family: 'aeliron-italic';
}
.light {
  font-family: 'aeliron-light';
}
.right {
  text-align: right;
}
.left{
  text-align: left;
}
.center{
  text-align: center;
}
.noradius .form-control {
  border-radius: 0;
  box-shadow: none;
}
.overlay{
  position: relative;
}
.overlay:after{
  background: rgba(0,0,0,0.4);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.inline > li{
  display: inline-block;
}
.login-port {
  padding: 25px 0 80px;
}
.login-port h3  {
  margin: 0 0 40px;
}
.login-port form {
  padding: 40px 25px 25px;
  border: 1px solid #8bd0e0;
}
.login-port form .form-control {
  color: #a8a8a8;
  height: 40px;
  font-size: 15px;
  padding-left: 40px; 
}
.login-port form .form-control:focus {
  border-color: #23a6c5;
}
.login-port form > div + div {
  margin: 25px 0 0;
}
.login-port form .hover-bottom {
  width: 100%;
  text-align: center;
  display: block;
  padding: 10px 0;
}
.login-port form #username{
  background: #FFF url('../images/icons/user-icon.png') no-repeat 9px 50% / 16px;
}
.login-port form #password{
  background: #FFF url('../images/icons/password-icon.png') no-repeat 9px 50% / 16px;
}
.login-port .right-part p{
  font-size: 18px;
  line-height: 28px;
}
.hover-bottom {
  background: #044d90;
  display: inline-block;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  border: none;
  color: #fff;
  font-family: 'aeliron-bold';
  transition: all 0.6s ease;
  -webkit-transition: all 0.64s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
}
.hover-bottom:before {
  transition: all 0.6s ease;
  -webkit-transition: all 0.64s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #23a6c5;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
}
.hover-bottom:hover:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
#login-min{
  position: relative;
  min-height: 220px;
}
#login-min figure{
  position: absolute;
  top: -100%;
  left: 20%;
}
footer{
  background: #000;
  padding: 10px 0;
  color: #979797;
  letter-spacing: 1.5px;
}
footer ul > li:not(:last-child):after{
  content: "|";
  color: #979797;
  margin: 0 6px;
  font-family: 'aeliron-bold';
}
footer ul a{
  color: #979797;
}
.menu-click{
  padding: 3% 0;
}
.menu-click > ul > li{
  text-align: left;
  vertical-align: middle;
  position: relative;
}
.menu-click > ul > li .megamenu {
    position: absolute;
    top: 100%;
    left: -180px;
    min-width: 360px;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background: #ffffff;
    box-shadow: 1px 1px 8px black;
    z-index: 9;
    padding: 10px;
    color: #FFF;
    font-size: 12px;
    border-radius: 5px;
    visibility: hidden;
    transition: all 0.5s ease;
}
.mCSB_scrollTools .mCSB_draggerRail {
    width: 6px !important;
  }

.noti .col-md-3 p{
  font-size: 12px;
  color: #919191;
}

.menu-click > ul > li .megamenu ul > li:not(:last-child){
  border-bottom: 1px solid grey;
  margin: 0 0 5px;
  padding: 0 0 5px;
}
.menu-click > ul > li:hover .megamenu{
  transition: all 0.5s ease;
  animation: sample linear 0.5;
  opacity: 1;
  visibility: visible;
}
.menu-click > ul > li:first-child a{
  color: #323232;
  position: relative;
  font-size: 15px;
  display: inline-block;
}
.menu-click > ul > li:first-child a span{
  position: absolute;
  background: #23a6c5;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 100%;
  top: -10px;
  line-height: 2;
  right: -18px;
  font-family: 'aeliron-bold';
}
.menu-click > ul > li + li{
  margin: 0 0 0 65px;
}
.menu-click .dropdown{
  cursor: pointer;
  background: #FFF url('../images/icons/triangle.png') no-repeat 100% 50%;
  padding-right: 20px;
}
.menu-click .dropdown > div{
  display: flex;
  align-items: center;
  display: -moz-flex;
}
.menu-click .dropdown > div > div:first-child{
  margin: 0 10px 0 0;
}
.menu-click .dropdown-menu a{
  color: #FFF;
  padding: 10px;
  display: inline-block;
  width: 100%;
}
.menu-click .dropdown-menu:before{
  content: "";
  border-bottom: 15px solid #23A6C5;;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  position: absolute;
  top: -7px;
  left: 50%;
  transform: translateY(-50%);
}
.menu-click .dropdown-menu{
  border: 0;
  font-family: "aeliron-bold";
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  margin: 5px 0 0;
  min-width: 200px;
  background: #23A6C5;
}
.common-bgcolor{
  background: #ebebeb;
  padding: 40px 0;
}
.checkbox-custom, .radio-custom {
  opacity: 0;
  position: absolute;   
}
.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  cursor: pointer;
}
.checkbox-custom-label, .radio-custom-label {
  position: relative;
}
.checkbox-custom + .checkbox-custom-label:before{
  content: '';
  background: #fff;
  border: 1px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  padding: 2px;
  margin-right: 10px;
  border-radius: 50%;
  text-align: center;
}
.checkbox-custom:checked + .checkbox-custom-label:before {
  content: "\2713";
  background: #66c816;
  color: #fff;
}
.test-list > li{
  padding: 10px 20px 10px 10px;
  background: #FFF;
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.1);
}
.test-list, .area-max-width{
  max-width: 870px;
  margin: 0 auto;
}
.test-list > li + li{
  margin: 15px 0 0;
}
.test-list > li .question{
  font-family: "aeliron-semibold";
  color: #464646;
  margin: 3px 0 0;
  font-size: 18px;
}
.test-list > li .submit{
  text-align: right;
  color: #b6b6b6;
  font-family: "aeliron-semibold";
}
.test-list > li .submit a, #step-second-main .confirm-continue a{
  color: #FFF;
  display: inline-block;
  background: #044d90;
  padding: 7px 15px;
}
.test-list > li .submit a.hover-bottom:before,
#step-second-main .confirm-continue a.hover-bottom:before{
  background: #66c816;
}
#step-second-main .pdf-file{
  background: #FFF;
  padding: 10px;
  margin: 40px 0 0;
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.1);
}
#step-second-main .pdf-file object{
  width: 100%;
  background: #FFF;
  min-height: 640px;
}
.custom-radio.square .checkbox-custom + .checkbox-custom-label:before{
  border-radius: 6px;
}
#step-second-main .confirm-continue{
  margin: 40px 0 0;
}
#main-dashboard{
  display: flex;
  display: -moz-flex;
  width: 100%;
  background: #ebebeb;
}
#main-dashboard > div:first-child{
  width: 13.5%;
  background: #252525;
}
#main-dashboard > div:last-child{
  width: 80%;
  padding: 20px 45px;
}
.dash-menu li{
  padding: 15px 30px;
  font-family: "aeliron-semibold";
  color: #7c7d7d;
  box-sizing: border-box;
  font-size: 15px;
  border-bottom: 1px solid #7c7d7d;
  cursor: pointer;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.dash-menu li:hover, .dash-menu li.active{
  /*background: #ebebeb;*/
  color: #fff;
}
.dash-menu li img {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 10px 0 0;
}
#dashboard .float:after, #dashboard .float:before{
  display: table;
  content: "";
}
#dashboard .float:after{
  clear: both;
}
#dashboard .float{
  margin: 0 -10px;
}
#dashboard .float > div{
  float: left;
  margin: 10px 10px 10px 0;
}
#dashboard .float > div.forty{
  width: 45%;
}
#dashboard .float > div.sixty{
  width: 53%;
}
#dashboard .total-test{
  background: #044d90 url("../images/icons/quiz.png")no-repeat 80% 50% / 80px;
  padding: 25px 30px;
  color: #FFF;
  min-height: 200px;
}
.right-content > div.active-now:not(:first-child){
  display: none;
}
.aws-search-form{

    border: 1px solid #e1e1e1;
    border-radius: 6px;
    color: #535353;
    display: block;
    font-size: 12px;
    line-height: 30px;
 
    position: relative;
    width: 100%;
    z-index: 2;
  }
.aws-search-field {
  background: #fff url("../images/search-img-icon-sm.png") no-repeat scroll 97% 50%;
  border: 1px solid #e1e1e1;
  border-radius: 6px;
  color: #535353;
  display: block;
  font-size: 15px;
  font-weight: 700;
  line-height: 40px;
  padding: 0 10px 3px 15px;
  position: relative;
  width: 100%;
  z-index: 2;
}
.float-srs {
  display: flex;
}
.forty-srs{
  width: 40%;
}
.sixty-srs{
  width: 60%;
}
.forty-srs > h2 {
  color: #000000;
  font-weight: 800;
}
.forty-srs .fa-arrow-left {
  background: #000 none repeat scroll 0 0;
  border-radius: 5px;
  color: #fff;
  font-size: 26px;
  margin-top: 20px;
  padding: 4px 16px;
  cursor: pointer;
}
.pqr-intro {
  background: #fff;
  padding: 10px;
}
.pqr-intro h1 {
  font-size: 30px;
  font-weight: 800;
}
.pqr-intro h4 {
  font-size: 18px;
  font-weight: 900;
}
p.para, p.quest {
  color: #b6b6b6;
  font-size: 15px;
  padding: 10px 0;
}
.span-class > p > span:first-child{
  color:#000;
  font-weight: 900;
}
.span-class > p > span:nth-child(2){
  color:#b6b6b6;
  font-weight: 900;
}
.training-score {
  background: #1f4c76 none repeat scroll 0 0;
  font-size: 20px;
  padding: 10px 0;
  text-align: center;
  color: #11A7CE;
  font-weight: 900;
}
.finished-pgm {
  background: #0AA8CB;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  font-size: 15px;
}
.span-class > p {
  padding: 2px 0;
}
.mar-top{
  margin-top:25px;
}
.intro-full{
  text-align: justify;
  font-weight: 800;
}
.dumb img {
  margin: 0 auto;
  width: 140px;
}
.dumb{
  text-align: center;
   padding: 73px 0;
}
.pqr-intro.dummy-data{
  background: #F7F7F7;
  color: #C8C8C8;font-weight: 900;
}
.pqr-intro.dummy-data > h4 {
  margin-top: 10px;
}
.latest-score > h2 {
  color: #00488F;
  font-weight: 900;
}
.latest-score {
  background: #fff;
  padding:10px;
}
.category_table tr:first-child {
  background: #EBEBEB none repeat scroll 0 0;
}
.category_table tr:first-child td{
  color: #044D91;
  font-weight: 800;
}
.category_table tr:not(:first-child) td{
  color:#A1A1A1;
  font-size: 12px;
  font-weight: 800;
}

.category_table tr:not(:first-child) td > a,.category_table tr:not(:first-child) td > a:hover{
  text-decoration: underline;
}
.category_table> tbody > tr > td, .category_table > tbody > tr > th,
.category_table > tfoot > tr > td,.category_table> tfoot > tr > th,
.category_table > thead > tr > td, .category_table > thead > tr > th{
border: none!important;
  }
.total-test > a {
  color: #fff;
  display: block;
  margin-top: 50px;
  width: 144px;
  font-size: 20px;
}
.category_table.table.table-bordered.mar-top{
  margin-top: 10px;
  margin-bottom: 0!important;
}
/*  .megamenu {
 background: #044d90 none repeat scroll 0 0;
 border-radius: 5px;
 color: #fff;
 font-size: 12px;
 left: 0;
 max-height: 200px;
 min-width: 200px;
 overflow-y: auto;
 padding: 10px;
 position: absolute;
 top: 100%;
 transition: all 0.5s ease 0s;
 visibility: hidden;
 width: 100%;
 z-index: 1;
} */
#table-scroll {
  height:150px;
  overflow:auto;  
 
}
.float.flo{
  display: flex;
}
.float.flo .forty{
   background: #fff;
}
.chart-skills {
  margin-top: 50px!important;
}

/*Half circlr chart css*/
.gauge {
    width: 450px;
    height: 340px;
    position: relative;
    bottom: 55px;
  }

  .forty svg tspan{
    font-size:30px;
  }



@import "lesshat";
@import url(https://fonts.googleapis.com/css?family=Roboto:400+700);
#chart {
  width: 650px;
  height: 300px;
  margin: 30px auto 0;
  display: block;
  #numbers {
    width: 50px; 
    height: 100%;
    margin: 0;
    padding: 0;
    display: inline-block;
    float: left;
    
    li {
      text-align: right;
      padding-right: 1em;
      list-style: none;
      height: 29px;
      border-bottom: 1px solid #444;
      position: relative;
      bottom: 30px;
      
      &:last-child {
        height: 30px;
      }
      
      span {
        color: #eee;
        position: absolute;
        bottom: 0;
        right: 10px;
      }
    }
  }
  
  #bars {
    display: inline-block;
    background: rgba(0,0,0,0.2);
    width: 600px;
    height: 300px;
    padding: 0;
    margin: 0;
    box-shadow: 0 0 0 1px #444;

    li {
      display: table-cell;
      width: 100px;
      height: 300px;
      margin: 0;
      text-align: center;
      position: relative;
      
      .bar {
        display: block;
        width: 70px;
        margin-left: 15px;
        background: #49E;
        position: absolute;
        bottom: 0;
        
        &:hover {
          background: #5AE;
          cursor: pointer;
          
          &:before {
            color: white;
            content: attr(data-percentage) '%';
            position:relative;
            bottom: 20px;
          }
        }
      }

      span {
        color: #eee;
        width: 100%;
        position: absolute;
        bottom: -2em;
        left: 0;
        text-align: center;
      }
    }
  }
}
span.head-score{
  font-size: 28px;
  font-weight: 800;
  color: #01538A;
  padding: 0 20px;
}
span.current-all {
  color: #a1a1a1;
  font-size: 15px;
}
p.score-qizz{
  text-align:center;
  color:#a1a1a1;
  position: relative;
  bottom: 85px;
}
.highcharts-title,.highcharts-subtitle{
  display: none;
}
.sm-cls small{
  color: #fff!important;
}
.pass-you{
  background: #fff;
  padding: 30px 10px;
}
.pass-you-fail{
  background: #fff;
  padding: 30px 10px;
}
.intro-1 p{
    color: #000;
    font-size: 16px;
    font-weight: 800;
        text-align: center;
  }
  .date-infor p span:nth-child(odd){
    color: #000;
    font-weight: 900;
        font-size: 12px;
  }
    .date-infor p span:nth-child(even){
      color: #9F9F9F;
          font-size: 12px;

    }
.div-div a:first-child{
    background:#3AB54B;
    color: #fff;
    padding: 6px;
    width: 100px;
    display: block;
    border-radius: 5px;
    text-align: center;
    font-size: 17px;
    border:1px solid #000;
    margin: 20px auto;
  }
  .div-div a:nth-child(2){
    background:#D83241;
    color: #fff;
    padding: 6px;
    width: 100px;
    display: block;
    border-radius: 5px;
    text-align: center;
    font-size: 17px;
    border:1px solid #000;
    margin: 20px auto;
  }
  .result-scan ul li{
    margin:15px 0;
  }
  .result-me{
  color: #084990;
    font-weight: 900;
    font-size: 22px;
  }
  .cir_result{
    width: 100px;
    height:100px;
    border-radius: 50px;
    border: 1px solid black;
  }
    .cir_result h1{
        line-height: 100px;
        font-weight: 600;
        text-align: center;
    }
    .cir_result h1 span{
      font-size: 20px;
    }

  .mar-35{
      margin-top: 35px;
  }
.uservav>li.active>a, .uservav>li.active>a:focus, .uservav>li.active>a:hover{
border-bottom-color:#18548A;
border-bottom-width:3px;
border-left-color: #fff;
border-right-color: #fff;
margin-top: 4px;
border-top-color: #fff;
margin-top: 0px;
}
.uservav{
border-bottom: none;
}
.nav.nav-tabs.uservav{
   background: #fff;
}
.feedback-right p
{
font-size: 18px;
    font-weight: 800;
    color: #0A53A2;
    }
.drop-list select{
    width: 90%;
    height: 40px;
    border: 0;
    border-bottom: 1px solid #ccc;
    appearance:none;
    color: #8E8E8E;
  }
  #home{
    background: #fff;
    margin-top: 50px;
  }

.onoff {
  margin-left: -27px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: relative;
  cursor: pointer;
  width: 100px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.onoff label {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  font-weight: bold;
  color: #FFF;
  -webkit-transition: background 0.3s, text-indent 0.3s;
  -moz-transition: background 0.3s, text-indent 0.3s;
  -o-transition: background 0.3s, text-indent 0.3s;
  transition: background 0.3s, text-indent 0.3s;
  text-indent: 27px;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4) inset;
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4) inset;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4) inset;
}
.onoff label:after {
  content: 'NO';
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  font-size: 12px;
  color: #591717;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.35);
  z-index: 1;
}
.onoff label:before {
  content: '';
     width: 22px;
    height: 28px;
  border-radius: 3px;
  background: #FFF;
  position: absolute;
  z-index: 2;
  top: 1px;
  left: 0px;
  display: block;
  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  -o-transition: left 0.3s;
  transition: left 0.3s;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}
.onoff input:checked + label {
  background: #eee;
  text-indent: 8px;
}
.onoff input:checked + label:after {
  content: 'YES';
  color: #091707;
}
.onoff input:checked + label:before {
  left: 35px;
}
a.sub-button{
    width: 180px;
    color: #fff;
    background: #07559F;
    padding: 12px;
    margin-top: 50px;
    display: block;
    text-align: center;
    font-size: 20px;
  }
  .feedback-left img{
    height: 550px;
  }
  .form-div{
    margin: 25px 0;
  }
.yes-no-content{
color:#8E8E8E;
}
.form-div-sec{
padding: 20px 20px 0 0;
}

/*Training 02 css*/
.right-content .date{
   margin-top: 42%;
}
    .right-content .date p{
      font-size: 12px;
      font-weight: 600;
    }
    .right-content .date span{
      color: #939393;
    }
.right-content .time{
  margin-top: 30%;
}
    .right-content .time p{
      color: #5e5e5e;
      font-size: 12px;
      word-spacing: 5px;
      letter-spacing: 1px;
    }
    .right-content .time #time{
      color: black;
      letter-spacing: 1px;
      font-size: 16px;
    }
.right-content .content{
  background-color: #ffffff;
  padding: 3% 5%;
  margin-top: 4%;
  height: 450px;
} 
  .right-content .content .qtns{
    font-size: 16px;
    color: black;
    line-height: 25px;
    font-weight: 600;
  }
  .right-content .content .options{
        margin-top: 4%;
  }
    .right-content .content .options form{
      font-size: 15px;
      line-height: 50px;
      color: black;
    }

    .right-content .content .options form [type="radio"]:checked,
    .right-content .content .options form [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }
    .right-content .content .options form [type="radio"]:checked + label,
    .right-content .content .options form [type="radio"]:not(:checked) + label
    {
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        line-height: 20px;
        display: inline-block;
        color: #666;
    }
    .right-content .content .options form [type="radio"]:checked + label:before,
    .right-content .content .options form [type="radio"]:not(:checked) + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 23px;
        height: 23px;
        border: 1px solid #7b7a7a;
        border-radius: 100%;
        background: #fff;
    }
    .right-content .content .options form [type="radio"]:checked + label:after, [type="radio"]:not(:checked) + label:after {
      content: '';
      width: 21px;
      height: 21px;
      background: #8dc63f;
      position: absolute;
      top: 1px;
      left: 1px;
      border-radius: 100%;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }
    .right-content .content .options form [type="radio"]:not(:checked) + label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    .right-content .content .options form [type="radio"]:checked + label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    .right-content .content .options form textarea{
        background-color: #f7f7f7;
        width: 100%;
    }

.right-content .nextBtn{
    position: absolute;
    top: 456px;
    background: #044d90;
    border: none;
    padding: 12px 25px;
    color: white;
    border-radius: 0px;
}
.right-content .backBtn{
    position: absolute;
    top: 255px;
    background: #555555;
    border: none;
    left: 30px;
    padding: 12px 25px;
    color: white;
    border-radius: 0px;
}



/*daily log css*/
.right_text{
  text-align: right;
  padding: 15px;
}
  .right_text .clear{
    line-height: 23px;
    padding: 0 10px;
    background: transparent;
    border: 1px solid #807d7d;
    color: #323232;
    border-radius: 8px;
  }
    .right_text .clear:hover{
      background: #323232;
      color: #ffffff;
    }
.timeline {
    list-style: none;
    /*padding: 20px 0 20px;*/
    position: relative;
}

    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #cccccc;
        left: 1.5%;
        margin-left: -1.5px;
    }

    .timeline > li {
        margin-bottom: 20px;
        position: relative;
    }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li > .timeline-panel {
            width: 90%;
            float: left;
            margin-bottom: 2%;
            border-radius: 2px;
            /*padding: 20px;*/
            background: white;
            position: relative;
            left: 9%;
        }
            .timeline > li > .timeline-panel .col-md-2 p{
                font-size: 12px;
                color: #9c9c9c;
            }
            .timeline > li > .timeline-panel .contentTimeline{
                padding:20px;
                background-color: white;
                border-bottom: 1px solid #c1c1c1;
            }
            /*.timeline > li > .timeline-panel:before {
                position: absolute;
                top: 26px;
                right: -15px;
                display: inline-block;
                border-top: 15px solid transparent;
                border-left: 15px solid #ccc;
                border-right: 0 solid #ccc;
                border-bottom: 15px solid transparent;
                content: " ";
            }*/

            .timeline > li > .timeline-panel:after {
                position: absolute;
                top: 16px;
                right: -14px;
                display: inline-block;
                border-top: 14px solid transparent;
                border-left: 14px solid #fff;
                border-right: 0 solid #fff;
                border-bottom: 14px solid transparent;
                content: " ";
            }

        .timeline > li > .timeline-badge {
            color: #000;
            width: 60px;
            height: 60px;
            padding: 8px 0px;
            /*line-height: 70px;*/
            font-size: 1.4em;
            text-align: center;
            position: absolute;
            /*top: 16px;*/
            left: 0.8%;
            margin-left: -25px;
            background-color: #999999;
            z-index: 100;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
        }

        /*.timeline > li.timeline-inverted > .timeline-panel {
            float: right;
        }*/

            .timeline > li.timeline-inverted > .timeline-panel:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }

            .timeline > li.timeline-inverted > .timeline-panel:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #fff !important;
    border: 0.025em solid grey;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

    .timeline-body > p + p {
        margin-top: 5px;
    }

/*daily log calender css*/
/*@import url("https://fonts.googleapis.com/css?family=Montserrat");*/
/*body, html {
  width: 100%;
  height: 100%;
  font-family: "Montserrat";
  color: #303633;
  background-color: #C8D9E7;
  overflow: hidden;
  position: relative;
  outline: none;
  perspective: 1000px;
}*/

.content-wrapper {
  position: absolute;
  width: 100%;
  margin: auto;
  /*height: 420px;
  top: 50%;
  left: 50%;*/
  box-sizing: border-box;
  /*transform: translate(-50%, -50%);
  transition: all 0.195s ease;
  transform-style: preserve-3d;*/
}
.content-wrapper.is-rotated-left {
  transform: translate(-50%, -50%) rotateY(-4deg);
}
.content-wrapper.is-rotated-right {
  transform: translate(-50%, -50%) rotateY(4deg);
}
.content-wrapper .left-wrapper,
.content-wrapper .right-wrapper {
  background-color: #465161;
  width: 100%;
  margin-top: 55px;
  /*margin: auto;*/
  /*float: left;*/
  height: 100%;
  box-sizing: border-box;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.content-wrapper .header {
  padding: 15px 0 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.content-wrapper .header i {
  padding: 0 5px;
  cursor: pointer;
  color: #a9b6ca;
}
.content-wrapper .header span {
  display: inline-block;
  margin: 0 3px;
  font-weight: 700;
  color: #a9b6ca;
}
.content-wrapper .right-wrapper {
  background-color: #48A9A6;
  color: white;
  transform-origin: left center;
  transform: rotateY(110deg);
  transition: all 0.5s;
}
.content-wrapper .right-wrapper.is-active {
  transform: rotateY(0deg);
}
.content-wrapper .right-wrapper .header {
  text-align: left;
  justify-content: center;
}
.content-wrapper .right-wrapper .day {
  font-size: 12em;
  text-indent: -12px;
  display: block;
}
.content-wrapper .right-wrapper .month {
  font-size: 2.5em;
}
.content-wrapper .left-wrapper .showDate {
  color: white;
  text-align: right;
  width: 100%;
}
.content-wrapper .left-wrapper .showDate i {
  cursor: pointer;
  background: #48A9A6;
  border-radius: 4px;
  padding: 8px 12px;
  transform: scale(1);
  transition: all 0.3s;
}
.content-wrapper .left-wrapper .showDate i.is-active {
  transform: scale(-1);
}
.content-wrapper .left-wrapper table {
  text-align: center;
  font-family: "Open Sans";
  width: 90%;
  margin: 30px auto 0;
  table-layout: fixed;
  border-collapse: collapse;
}
.content-wrapper .left-wrapper table tbody:before {
  content: "-";
  display: block;
  line-height: 0.75em;
  color: transparent;
}
.content-wrapper .left-wrapper table th {
  color: #ffffff;
  font-size: 0.75em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.content-wrapper .left-wrapper table td {
  padding: 11px 5px;
  color: white;
  font-size: 0.75em;
  transition: all 0.3s;
  position: relative;
}
.content-wrapper .left-wrapper table td::before {
  content: "";
  display: none;
  width: 50%;
  height: 2px;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -8px);
  background-color: #48A9A6;
}
.content-wrapper .left-wrapper table td.currentDay::before {
  display: block;
}
.content-wrapper .left-wrapper table td.selectable {
  color: white;
  cursor: pointer;
}
.content-wrapper .left-wrapper table td.selectable:hover {
  background: #48A9A6;
  color: white;
}
.content-wrapper .left-wrapper table td.between {
  background: rgba(72, 169, 166, 0.65);
  color: white;
}
.content-wrapper .left-wrapper table td.active, .content-wrapper .left-wrapper table td.hover {
  background: #48A9A6;
  color: white;
}


/*training search bar css*/
.training{
    line-height: 50px;
}
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
  border-right:0; 
  box-shadow:0 0 0; 
  border-color:#ccc;
  height: 45px;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

/*carousal training css*/
.mt{
  margin-top: 2%;
}
.training_opt{
    background: white;
    padding: 15px;
    line-height: 35px;
}
.training_opt p{
  color: black;
}
  .light_text{
    line-height: 22px;
    color: #939393 !important;
  }
.assign{
  line-height: normal;
  margin-bottom: 3%;
}
.blue_box{
  background: #1d4b76;
  padding: 10px;
  text-align: center;
  font-size: 12px;
}
  .blue_box p{
    color: #0aa9cb;
  }
.green_box{
    background-color: #0aa9cb;
    padding: 5px;
    text-align: center;
    font-size: 12px;
    color: white;
}
.coming_soon{
  color: #c6c6c6;
  background-color: #f7f7f7;
  padding: 15px 15px 50% 15px;
  line-height: 35px;
}
  .coming_soon img{
    width: 53% !important;
    margin: auto;
  }
.tcenter{
  text-align: center;
}


@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
}